.light-theme{
    --heading: #003580;
    --blue-btn: #0071c2;
    --body: #fff;
    --text: #282B30;
    --h2Title: #444;
}
.dark-theme{
    --heading: #9900f8;
    --blue-btn: #c843d7;
    --body: #282B30;
    --text: #fff;
    --h2Title: #fff;
}

body{
    background-color: var(--body);
}